<ion-header>
  <ion-toolbar class="customize-toolbar">
    <ion-buttons slot="start">
      <ion-back-button text="" color="light"></ion-back-button>
    </ion-buttons>
    <ion-img class="logo p-3" src="assets/img/logo.png"></ion-img>
  </ion-toolbar>
</ion-header>

<div class="ion-text-center" *ngIf="isLoading">
  <ion-spinner name="crescent" color="primary"></ion-spinner>
</div>

  <div class="app-layout">
    <div class="container">
      <div class="heading">
        <h3>STAFF CALENDAR SYSTEM</h3>
      </div>  
      <ion-list class="select-staff">      
        <ion-item>
          <ion-label>Select Staff</ion-label>
          <ion-select okText="Okay" cancelText="Dismiss" (ionChange)="onSelectChange($event)">
            <ion-select-option *ngFor="let item of dropdownArray" value="{{item.id}}" >{{item.user_login}}({{item.display_name}})</ion-select-option>
          </ion-select>
        </ion-item>
      
      </ion-list>
</div>
</div>
<div class="text-center">
  <h5>{{viewTitle}}</h5>
  <ion-buttons class="mt-2 mb-3">
    <button class="btn btn-primary" ion-button [disabled]="isToday" (click)="today()">Today</button>
    <button class="btn btn-primary ml-2" ion-button (click)="changeMode('month')">Month</button>
    <button class="btn btn-primary ml-2" ion-button (click)="changeMode('week')">Week</button>
    <button class="btn btn-primary ml-2" ion-button (click)="changeMode('day')">Day</button>
  </ion-buttons>
</div>

<ion-content >

    <calendar [eventSource]="eventSource"
              [calendarMode]="calendar.mode"
              [currentDate]="calendar.currentDate"
              (onCurrentDateChanged)="onCurrentDateChanged($event)"
              (onEventSelected)="onEventSelected($event)"
              (onTitleChanged)="onViewTitleChanged($event)"
              (onTimeSelected)="onTimeSelected($event)"
              step="30">
    </calendar>
  </ion-content>



